
.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }
body{
    touch-action: manipulation;
    display: block
}
.jumbotron-fluid h1{
    text-align: center;
    font-size: 30px;
}
#top-header{

}
.letter-container{
    display: flex;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    height: 390px;

    justify-content: center
}
.letter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 15%;
    border-radius: 1;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(211, 211, 211);
    margin-left: 3px;
    margin-right: 3px;
    font-size: 40px;
}
.green-letter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 15%;
    border-radius: 1;
    background-color: green;
    border: 2px solid rgb(211, 211, 211);
    margin-left: 3px;
    margin-right: 3px;
    font-size: 40px;
    color: white;
}
#keyboard-container{
    display: flex;
    flex-direction: column;

    height: 200px;
    width: 360px;
    padding: 0px;
    justify-content: center;
}
.keyboard-row{
    justify-content: center;
    display: flex;
    height: 33%;
}

.keyboard-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    height: 58px;
    width: 31px;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    color: black; 
}
/* .green-keyboard-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 58px;
    width: 31px;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    color: white 
} */
#keyboard-row1{
    length: 400px;
}
#keyboard-row2{
    width: 330px;
}
#keyboard-row3{
    length: 400px
}
.big-keyboard-button{
    width: 45px;
}
#enter-button{
    font-size: 13px;
}